<header class="c-header">
    <section class="c-header__top">    
        <div class="c-header__item">
            <h1 class="c-header__title">Store</h1>
        </div>
        <div class="u-vissible-md">
            <h2 class="c-header__text">My city: <span class="c-header__text-location">Los Angeles</span></h2>
        </div>
        <div class="c-header__item u-vissible-md">
            <h2 class="c-header__text">8 800 505-04-83</h2>
        </div>
        <div class="c-header__item u-vissible-md">
            <div class="c-header__text">
                <nav class="c-navigation">
                    <ul class="c-navigation-list">
                        <li class="c-navigation__item"><a class="c-navigation__link" href="#">Shipping</a></li>               
                        <li class="c-navigation__item"><a class="c-navigation__link" href="#">Blog</a></li>
                        <li class="c-navigation__item"><a class="c-navigation__link" href="#">Company</a></li>
                        <li class="c-navigation__item"><a class="c-navigation__link" href="#">My account</a></li>
                    </ul>
                </nav>            
            </div>
        </div>
        <div class="c-header__mobile-buttons u-hidden-md">
            cart - menu
        </div>
    </section>
    <section class="c-header__bottom">
        <div class="c-subheader__search">
            <i class="c-subheader__search-icon">icon</i>
            <input class="c-subheader__search-input" type="text" placeholder="Search products by SKU or name">
        </div>
        <div class="c-subheader__buttons u-vissible-md">
            <div class="c-cart__badge">
                <button class="c-cart__badge-text">
                    <i>icon</i>
                    MY CART
                </button>
                <button class="c-cart__badge-count">
                    12
                </button>
            </div>
        </div>
    </section>
    <section class="c-header__mobile-menu u-hidden-md">
        <div>
            <select class="c-menu__mobile">
                <option>Categorías</option>
                <option>Apples</option>
                <option>Bananas</option>
                <option>Grapes</option>
                <option>Oranges</option>
            </select>
        </div>
    </section>
</header>
<main>
    <section class="main-container">
        <nav class="c-menu">
            <h2 class="c-menu__title">All categories</h2>
            <ul class="c-menu__list">
                <li class="c-menu__category">Face</li>
                <li class="c-menu__category__item"><a class="c-menu__subcategory" href="">Creams & gels</a></li>
                <li class="c-menu__category__item"><a class="c-menu__subcategory" href="">Patches</a></li>
                <li class="c-menu__category__item"><a class="c-menu__subcategory" href="">Emulsions</a></li>
                <li class="c-menu__category__item"><a class="c-menu__subcategory" href="">Toners</a></li>
                <li class="c-menu__category__item"><a class="c-menu__subcategory" href="">Face cleansing</a></li>
                <li class="c-menu__category__item"><a class="c-menu__subcategory" href="">Make up removal</a></li>
                <li class="c-menu__category__item"><a class="c-menu__subcategory" href="">Scrubs</a></li>
                <li class="c-menu__category__item"><a class="c-menu__subcategory" href="">Peeling</a></li>
                <li class="c-menu__category__item"><a class="c-menu__subcategory" href="">Masks</a></li>
                <li class="c-menu__category">Body</li>
                <li class="c-menu__category">Foot</li>
                <li class="c-menu__category">Hands</li>
                <li class="c-menu__category">Hair</li>
                <li class="c-menu__category">Makeup</li>
            </ul>
        </nav>
        <section class="c-products__container">
            <div class="c-products__pager">
                <div>
                   <h2 class="c-products__category--selected">Creams & Gels</h2>
                </div>
                <div>
                    <p class="c-products__pager__text">Showing 60 of 392</p>                    
                </div>
            </div>
            <div class="c-products__filter">
                <div>
                    <ul class="c-products__filter__list">
                        <li class="c-products__filter__list__item">
                        <p class="o-filter__name mr-3">Brand: <span class="color-purple">All Brands</span></p>
                        </li>
                        <li class="c-products__filter__list__item">
                        <p class="o-filter__name mr-3">Skin Type: <span class="color-purple">For Oily Skin</span></p>
                        </li>
                        <li class="c-products__filter__list__item">
                        <p class="o-filter__name">Age: <span class="color-purple">30+</span>
                        </p></li>
                    </ul>                    
                </div>
                <div>
                    <ul class="c-products__filter__list">
                        <li class="c-products__filter__list__item">
                        <p class="o-filter__name">Sort: <span class="color-purple">By popularity</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            contenido
        </section>
    </section>
</main>
<footer>
</footer>
