<header class="c-header">
    <div class="c-header__item">
        <h1 class="c-header__title">Store</h1>
    </div>
    <div>
        <h2 class="c-header__text">My city: Los Angeles</h2>
    </div>
    <div class="c-header__item">
        <h2 class="c-header__text">8 800 505-04-83</h2>
    </div>
    <div class="c-header__item">
        <div class="c-header__text">
            Shipping     Blog     Company      My account
        </div>
    </div>
</header>
<nav>
</nav>
<main>

</main>
<footer>
</footer>
<h1>Hola mundo</h1>
<p>Find me in app/views/home/index.html.erb</p>
