// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$yellow: #f8cb00;
$purple: #6364d8;
$purple02: #393ab1;
$purple03: #5859c2;
$black01: #2d2d2d;
$black02: rgba(0, 0, 0, 0.78);
$black03: #373738;
$white: #ffffff;
$gray: #a3a3a3;
$gray02: #e1e1e1;

@font-face {
    font-family: "circular";
    src: asset-url('/assets/CircularStd-Book.otf') format('truetype');
}

body {
    font-size: 16px;
    font-family: "circular";
    margin: 0;
}

.color-purple {
    color: $purple;
}
.mr-3 {
    margin-right: 3em;
}
.u-vissible-md {
    display: none;
}
u-hidden-md {
    display: block;
}
.c-header {
    background-color: $yellow;    
    padding: 0 2em;
    padding-top: 13px;
    .c-header__item {
        font-size: 1em;
    }
    .c-header__text {
        font-size: 1em;
        font-weight: normal;
    }
    .c-header__title {
        font-weight: normal;
        font-size: 1.625em;
        width: 190px;
    }
    .c-header__text-location {
        color: $purple;
        &:hover {
            color: $white;
            cursor: pointer;
        }
    }
    .c-header__text-phone {
        &:hover {
            color: $white;
            cursor: pointer;
        }
    }
}
.c-header__top {
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.c-navigation-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.c-navigation__item {    
    padding-left: 1em;
}
.c-navigation__link {
    color: $black01;
    text-decoration: none;     
    &:hover {
        color: $white;
    }   
}
.c-header__bottom {
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
}
.c-subheader__search {
    background-color: white;
    border-radius: 4px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}
.c-subheader__search-icon {
    margin: 0 1em;
}
.c-subheader__search-input {
    font-size: 0.938em;
    height: 100%;
    border: 0;
    padding: 0;
}
.c-cart__badge {
    background-color: $purple;
    display: flex;
    justify-content: space-between;
    width: 176px;
    border-radius: 4px;
    overflow: hidden;
}
.c-cart__badge-text, .c-cart__badge-count {
    border-width: 0;
    color: $white;
    cursor: pointer;
    height: 50px;
    &:focus {
        outline: none
    }
    &:hover {
        background-color: rgba(0, 0, 0, .1)   
    }
}
.c-subheader__buttons {
    margin-left: 1em;
}
.c-cart__badge-text {        
    background-color: $purple;
    width: 127px;
    &:active {
        background-color: $purple;
    }   
}
.c-cart__badge-count {
    width: 49px;
    background-color: $purple02;
    &:active {
        background-color: $purple02;
    }  
}

main {    
    padding: 0 2em;
    margin-bottom: 5em;
}
.main-container {
    display: flex;
}
.c-menu__mobile {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid white;
    background: transparent;
    color: $black02;
    font-size: 1em;
    font-weight: 300;
    margin: 2em 0;
    margin-bottom: 1.8em;
    padding-bottom: 5px;
    width: 100%;
}
.c-menu {
    //display:none;
    margin-top: -66px;
    width: 285px;
    height: 578px;
    border-radius: 4px;
    box-shadow: 0 16px 34px 7px rgba(121, 121, 121, 0.1);
    background-color: $white;
    .c-menu__title {
        color: $gray;
        font-size: 0.688em;
        text-transform: uppercase;
        padding-left: 20px;
        padding-top: 20px;
    }
    .c-menu__list {
        list-style: none;
        padding-left: 20px;
        width: 285px;
    }
    .c-menu__category {
        text-transform: uppercase;
        padding-bottom: 15px;
    }
    .c-menu__category__item {
        padding-bottom: 13px;
    }
    .c-menu__subcategory {
        text-decoration: none;
        color: $gray;
        &:hover {
            color: $yellow;
        }
    }
}
.c-products__container {
    padding-left: 0;
    width: 100%;
}
.c-products__pager {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.c-products__pager__text {
    color: $gray;
    font-size: 0.938em;
}
.c-products__filter {
    display: flex;
    flex-direction: column;
    font-size: 0.875em;
    justify-content: space-between;
    text-transform: uppercase;
}
.c-products__filter__list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.c-products__filter__list__item {
    //display: inline-block;
    display: block;
}
.o-filter__name {
    color: $gray;
    margin-bottom: 0;
    cursor: pointer;
}
.c-products__category--selected {
    color: $black01;
    font-size: 1.688em;
    font-weight: normal;
    margin-bottom: 0;
}
.c-products__list {
    padding: 2em 0;
}
.c-card {
    border-radius: 4px;
    box-shadow: 0 4px 14px 7px rgba(121, 121, 121, 0.05);
    border: solid 1px #e4e4e4;
    background-color: $white;
    overflow: hidden;
    width: 193px;
    height: 354px;
    &:hover {
        .c-card__content {
            transform: translateY(0);
        }
    }
}
.c-card__content {
    transform: translateY(50px);
    transition: all .2s;
}
.c-card__media {
    text-align: center;
}
.o-product__description, .o-product__price {
    text-align: center;
    font-size: 1.125em;
    margin-bottom: .89em;
}
.o-product__description {
    color:$black03;
    //min-height: 49px;
    padding: 0 1em;
    margin-top: 0;
}
.o-product__price {
    color: $yellow;
    margin-top: 0;
    //margin-bottom: .8em;
}
.c-card__actions {
    
}
.o-product__button {
    background-color: $purple;
    border-width: 0;
    color: $white;
    cursor: pointer;
    font-size: 1em;
    height: 50px;
    width: 100%;
    &:hover {
        background-color: $purple03;
    }
    &:focus {
        outline: none;
    }
    &:active {
        background-color: $purple;
    }
}

@media (min-width: 576px) {}
@media (min-width: 768px) {
    .c-header {
        border-top: 4px solid $purple;
        padding: 1em 8em;
    }
    main {
        padding: 0 8em;
    }
    .u-vissible-md {
        display: block;
    }
    .u-hidden-md {
        display: none;
    }
    .c-subheader__search {
        width: 660px;
    }
    .c-header__bottom {
        padding-top: 0;
    }
    .c-products__filter {
        border-bottom: solid 1px $gray02;
        flex-direction: row;
        justify-content: space-between;        
    }
    .c-products__filter__list__item {
        display: inline-block;
    }
    .c-products__container {
        padding-left: 2em;
    }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}