// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$yellow: #f8cb00;
$purple: #6364d8;

.c-header {
    align-items: center;
    background-color: $yellow;
    display: flex;
    justify-content: space-between;
    padding: 1em 6em;
        .c-header__item {
            font-size: 1em;
        }
        .c-header__text {
            font-size: 1em;
        }
        .c-header__title {
            font-size: 1.625em;
        }
}