<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%-# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body onload="initElement();">
    <%= yield %>
  </body>
    <script>
      function initElement() {

        var btnOpenSidebar = document.getElementById("open-sidebar");
        var btnMobileOpenSidebar = document.getElementById("mobile-open-sidebar");        
        var btnCloseSidebar = document.getElementById("close-sidebar");

        btnOpenSidebar.onclick = openSidebar;
        btnMobileOpenSidebar.onclick = openSidebar;
        btnCloseSidebar.onclick = closeSidebar;
      };
      
      function openSidebar(event) {
        document.getElementById("app-main-container").classList.add("sidebar-open");
        document.getElementById("app-main-container").classList.remove("sidebar-close");
        
      }
      function closeSidebar() {
        document.getElementById("app-main-container").classList.add("sidebar-close");
        document.getElementById("app-main-container").classList.remove("sidebar-open");
      }
    </script>
</html>
